.clearfix {
    &:after {
        content: " "; /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    } 
}

.jquery-ui-scale-wrapper {
    .clearfix;
    .slider-legend-wrapper {

        &.hashelp {
            float:left;
            width: calc(~"100% - 30px");
        }
        div {
            float:left;
            width:50%;
            &.slider-legend-left {

            }

            &.slider-legend-right {
                text-align: right;
            }

            &.slider-legend-center {
                text-align: center;
            }

            &.hb {
                width:calc(100% / 3);
                margin-bottom: 30px;
            }


            &.axis-help { 
                width: 100% !important;
                margin-bottom: 20px;

                .clearfix;
                .axis-help-title {
                    float: right !important;
                    width: 50px !important;
                }

                .axis-help-contents {
                    width: 100%;

                }
            }

        }

    }


}

