.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.jquery-ui-scale-wrapper:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.jquery-ui-scale-wrapper .slider-legend-wrapper.hashelp {
  float: left;
  width: calc(100% - 30px);
}
.jquery-ui-scale-wrapper .slider-legend-wrapper div {
  float: left;
  width: 50%;
}
.jquery-ui-scale-wrapper .slider-legend-wrapper div.slider-legend-right {
  text-align: right;
}
.jquery-ui-scale-wrapper .slider-legend-wrapper div.slider-legend-center {
  text-align: center;
}
.jquery-ui-scale-wrapper .slider-legend-wrapper div.hb {
  width: calc(33.33333333%);
  margin-bottom: 30px;
}
.jquery-ui-scale-wrapper .slider-legend-wrapper div.axis-help {
  width: 100% !important;
  margin-bottom: 20px;
}
.jquery-ui-scale-wrapper .slider-legend-wrapper div.axis-help:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.jquery-ui-scale-wrapper .slider-legend-wrapper div.axis-help .axis-help-title {
  float: right !important;
  width: 50px !important;
}
.jquery-ui-scale-wrapper .slider-legend-wrapper div.axis-help .axis-help-contents {
  width: 100%;
}
/*# sourceMappingURL=scale.css.map */
