.test-indicator-field {
    .test-indicator-wrapper {
        height: 150px;
        width:150px;
        border-radius:50%;
        border:1px solid gray;
        position: relative;

        .test-indicator {
            border-radius:50%;
            background: gray;
            text-align: center;
            // line-height: 110px;
            font-size: 27px;
            color: #fff;

            .test-indicator-data {
                position: absolute;
                width: 100%;
                top: 53px;
                left: 0;
            }
        }
    }
}