.test-indicator-field .test-indicator-wrapper {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid gray;
  position: relative;
}
.test-indicator-field .test-indicator-wrapper .test-indicator {
  border-radius: 50%;
  background: gray;
  text-align: center;
  font-size: 27px;
  color: #fff;
}
.test-indicator-field .test-indicator-wrapper .test-indicator .test-indicator-data {
  position: absolute;
  width: 100%;
  top: 53px;
  left: 0;
}
/*# sourceMappingURL=vactest.css.map */
