

.sreq-processed {
    //position:relative;
    &>div:first-child {
        float:left;
        width: calc(~"100% - 30px");
    }

    &>div:last-child {
        float:left;
        width: 20px;
        margin-left:10px;

        top:0;

        [type="checkbox"]:not(:checked),
            [type="checkbox"]:checked {
            position: absolute;
            left: -9950px;

            &+span {
                &:after {
                    content:"";
                    position: absolute;
                    // left: 9970px;
                    left: 0;
                    cursor: pointer;
                    font-family: FontAwesome;
                } 
            }


        }

        [type="checkbox"]:checked {

            &+span {
                &:after {
                    content:"";  
                }
            }
        }
    }
}

.scoring-result-wrapper {
    width: calc(~"100% - 168px");
    position: relative;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;



    .scoring-result-wrapper-shift {
        width:100%;
        //  float:left;
        height: 70px;
    }

    .scoring-result-wrapper-line {

        background: linear-gradient(to right, hsl(196,99%,47%) 0%,hsl(266,34%,56%) 100%);

        &:after {
            content: "";
            display: table;
            clear: both;
        }
        .scoring-result-label {
            width:50%;
            float:left;
            color:#fff;
            padding:10px;
            font-weight:bold;
            &.scoring-result-label-left {

            }

            &.scoring-result-label-right {
                text-align: right;
            }
        }
    }
    .scoring-result-indicator {
        position: absolute;
        width: 168px;
        text-align: center;
        top: 3px;
        background: #01b0ef;
        color: #fff;
        padding: 10px;
        font-weight: bold;

        &:after {
            content: "";
            position: absolute;
            color: #01b0ef;
            font-family: FontAwesome;
            font-size: 24px;
            bottom: -20px;
            left: calc(50% - 5px);
        }
        .scoring-result-title {

        }

        .scoring-result-percent {

        }
    }
}