.sreq-processed > div:first-child {
  float: left;
  width: calc(100% - 30px);
}
.sreq-processed > div:last-child {
  float: left;
  width: 20px;
  margin-left: 10px;
  top: 0;
}
.sreq-processed > div:last-child [type="checkbox"]:not(:checked),
.sreq-processed > div:last-child [type="checkbox"]:checked {
  position: absolute;
  left: -9950px;
}
.sreq-processed > div:last-child [type="checkbox"]:not(:checked) + span:after,
.sreq-processed > div:last-child [type="checkbox"]:checked + span:after {
  content: "";
  position: absolute;
  left: 0;
  cursor: pointer;
  font-family: FontAwesome;
}
.sreq-processed > div:last-child [type="checkbox"]:checked + span:after {
  content: "";
}
.scoring-result-wrapper {
  width: calc(100% - 168px);
  position: relative;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.scoring-result-wrapper .scoring-result-wrapper-shift {
  width: 100%;
  height: 70px;
}
.scoring-result-wrapper .scoring-result-wrapper-line {
  background: -webkit-linear-gradient(left, #01afef 0%, #8a69b5 100%);
  background: linear-gradient(to right, #01afef 0%, #8a69b5 100%);
}
.scoring-result-wrapper .scoring-result-wrapper-line:after {
  content: "";
  display: table;
  clear: both;
}
.scoring-result-wrapper .scoring-result-wrapper-line .scoring-result-label {
  width: 50%;
  float: left;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}
.scoring-result-wrapper .scoring-result-wrapper-line .scoring-result-label.scoring-result-label-right {
  text-align: right;
}
.scoring-result-wrapper .scoring-result-indicator {
  position: absolute;
  width: 168px;
  text-align: center;
  top: 3px;
  background: #01b0ef;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}
.scoring-result-wrapper .scoring-result-indicator:after {
  content: "";
  position: absolute;
  color: #01b0ef;
  font-family: FontAwesome;
  font-size: 24px;
  bottom: -20px;
  left: calc(45%);
}
/*# sourceMappingURL=vis.css.map */
