.fp-custom-processed > div:first-child {
  float: left;
  width: calc(100% - 30px);
}
.fp-custom-processed > div:last-child {
  float: left;
  width: 20px;
  margin-left: 10px;
  top: 0;
}
.fp-custom-processed > div:last-child [type="checkbox"]:not(:checked),
.fp-custom-processed > div:last-child [type="checkbox"]:checked {
  position: absolute;
  left: -9950px;
}
.fp-custom-processed > div:last-child [type="checkbox"]:not(:checked) + span:after,
.fp-custom-processed > div:last-child [type="checkbox"]:checked + span:after {
  content: "";
  position: absolute;
  left: 0;
  cursor: pointer;
  font-family: FontAwesome;
}
.fp-custom-processed > div:last-child [type="checkbox"]:checked + span:after {
  content: "";
}
/*# sourceMappingURL=fp.css.map */
