.clearfix{
    &:after {
        content: " "; /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    } 
}

.jquery-ui-scale-wrapper {
    .slider-legend-wrapper {

        div {
            float:left;
            width:50%;
            &.slider-legend-left {

            }

            &.slider-legend-right {
                text-align: right;
            }
        }

    }


    &.style-circles {
        max-width: 400px;
        margin: 0 auto;
        padding-left:20px !important;
        padding-right:20px !important;
        .slider-legend-wrapper-i {
            position: relative;  
        }

        .ui-slider .ui-slider-handle {
            width:20px;
            height: 20px;
            top:7px;
            display:none;
        }

        .jquery-ui-scale {
            position:absolute;
            z-index: 2;
            width:100%;
            left:0;
            top: 72px;
            background: none !important;
            border: none !important;
            height: 34px;
        }

        .slider-legend-wrapper {
            margin-bottom: 80px;   
        }
    }


    .style-circles-wrapper {
        .clearfix;
        position:absolute;
        top: 80px;
        width:100%;
        left:0;
        .slider-circle {
            float: left;
            // text-align:center;
            .slider-circle-inner {
                display: inline-block;
                border-radius: 50%;
                background: #8968b5;
                position: absolute;
                z-index: 1;
            }
        }
    }
}

