.field-name-field-user-job-history > div > .form-item {
  position: relative;
}
.field-name-field-user-job-history > div > .form-item .form-group > label {
  display: none;
}
.field-name-field-user-job-history > div > .form-item .job-history-buttons-wrapper {
  /*     position: absolute;
                right: 10px;
                top: 10px;
                z-index: 2;
                width: 320px;*/
}
.field-name-field-user-job-history > div > .form-item .sticky-header {
  display: none;
}
.field-name-field-user-job-history > div > .form-item .tabledrag-toggle-weight-wrapper {
  display: none;
}
.field-name-field-user-job-history > div > .form-item .field-multiple-table thead {
  display: none;
}
.field-name-field-user-job-history > div > .form-item .field-multiple-drag {
  display: none;
}
.field-name-field-user-job-history > div > .form-item .help-block {
  display: none;
}
.field-name-field-user-job-history > div > .form-item tr {
  background-color: transparent  !important;
}
.field-name-field-user-job-history > div > .form-item tr td {
  border-top: none !important;
  background-color: transparent  !important;
}
.field-name-field-user-job-history [name*="remove"] {
  float: right;
}
.jh-button {
  text-overflow: ellipsis;
  overflow: hidden;
}
.jh-button:nth-child(2n+1) {
  margin-right: 5px;
}
/*# sourceMappingURL=jw.css.map */
