.field-name-field-user-job-history {

    &>div {
        &>.form-item {
            position: relative;

            .form-group {
                &>label {
                   display:none; 
                }
            }
            label.control-label {
           //     height: 0;
            //    overflow: hidden;
            }
            .job-history-buttons-wrapper {
           /*     position: absolute;
                right: 10px;
                top: 10px;
                z-index: 2;
                width: 320px;*/
            }

            .sticky-header {
                display:none;
            }
            .tabledrag-toggle-weight-wrapper {
                display:none; 
            }
            .field-multiple-table {
                thead {
                    display:none; 
                }
            }

            .field-multiple-drag {
                display:none; 
            }

            .help-block {
                display:none; 
            }

            tr {
                background-color: transparent  !important;

                td {
                    border-top: none !important;
                    background-color: transparent  !important;
                }
            }
        }
    }
    
    [name*="remove"] {
        float:right;
    }
}

.jh-button {
    text-overflow: ellipsis;
    overflow: hidden;
    &:nth-child(2n+1) {
        margin-right: 5px;
    }
}