

.sreq-processed {
    //position:relative;
    &>div:first-child {
        float:left;
        width: calc(~"100% - 30px");
    }

    &>div:last-child {
        float:left;
        width: 20px;
        margin-left:10px;

        top:0;

        [type="checkbox"]:not(:checked),
            [type="checkbox"]:checked {
            position: absolute;
            left: -9950px;

            &+span {
                &:after {
                    content:"";
                    position: absolute;
                   // left: 9970px;
                   left: 0;
                    cursor: pointer;
                    font-family: FontAwesome;
                } 
            }


        }

        [type="checkbox"]:checked {

            &+span {
                &:after {
                    content:"";  
                }
            }
        }
    }
}